*{
    margin: 0;
}
table {
    list-style-type: none;

    width: auto;
    height: auto;
    padding: 20px;
    background-color: rgb(68, 68, 68);
}
body{
    background-color: rgb(37, 37, 37);
}
body>div{
    height: 20vh;
    display: flex;
    justify-content: center;
}
body>div>div{
    background-color: rgb(219, 219, 219);
    width: 300px;
    display: flex;
    height: 100px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    align-items: center;
    justify-content: center;
}
.Section_1 {

    display: flex;
    justify-content: center;
    height: 80vh;
    width: 100%;
    align-items: center;
}

.Sec-1 {
    width: min-content;
    height: min-content;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.Sec-1>#Sec {
    width: 450px;
    background-color: rgb(219, 219, 219);
    color: white;
    height: 50px;
    display: flex;
    align-items: center;

}

.form-select {
    font-size: 15px;
    width: 30%;
    border-radius: 10px;
    margin-left: 10px;
    height: 80%;
    background-color: rgb(46, 46, 46);
    color: white;
}

tr {
    list-style: none;
}

td,
th {
    text-align: center;
    background-color: rgb(68, 68, 68);
    color: white;
    width: 50px;
    height: 50px;
}

td {
    border-radius: 100%;
    transition: background;
    transition-duration: 1s;
    border: 3px solid transparent;
}

td:hover {
    background-color: rgb(130, 129, 129);
    transition: background;
    transition-duration: 0.5s;
}

.td_today {
    background-color: rgb(4, 118, 248);
}

.td_noneR,.td_noneL {
    color: rgb(118, 118, 118);
}
.td_noneR:hover{
    color: white;
    background-color: rgb(130, 129, 129);
}
.td_noneL:hover {
    color: white;
    background-color: rgb(130, 129, 129);
}
